In [3]:
import pandas as pd
import numpy as np

In [4]:
csvpath1 = "/Users/arjun.maniyar/Documents/Project Files/GWAR201802DATA4-Class-Repository-DATA/02-Homework/03-Python/Instructions/PyPoll/raw_data/election_data_1.csv"
csvpath1_pd = pd.read_csv(csvpath1)
csvpath1_pd.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [6]:
csvpath2 = "/Users/arjun.maniyar/Documents/Project Files/GWAR201802DATA4-Class-Repository-DATA/02-Homework/03-Python/Instructions/PyPoll/raw_data/election_data_2.csv"
csvpath2_pd = pd.read_csv(csvpath2)

In [7]:
frames = [csvpath1_pd, csvpath2_pd]

In [9]:
mergecsv = pd.concat(frames)
mergecsv.head

<bound method NDFrame.head of          Voter ID      County Candidate
0         1405627      Harsaw    Vestal
1         1711723  Mershville    Vestal
2         1550639  Matterdawn    Vestal
3         1042621      Harsaw    Vestal
4         1583965  Matterdawn    Vestal
5         1943299  Mershville    Vestal
6         1880982      Harsaw    Torres
7         1305689      Harsaw    Torres
8         1759114  Mershville    Vestal
9         1745020  Matterdawn      Seth
10        1562401      Harsaw    Vestal
11        1467337      Porpus    Torres
12        1091170  Matterdawn    Torres
13        1947604      Harsaw    Vestal
14        1400758  Mershville    Torres
15        1009045  Matterdawn    Vestal
16        1246891  Matterdawn    Cordin
17        1744120  Matterdawn    Vestal
18        1571939  Mershville    Vestal
19        1936895  Matterdawn    Vestal
20        1122582  Matterdawn    Torres
21        1307503  Mershville    Torres
22        1594030      Harsaw    Torres
23        1072081  Mershville    Torres
24        1368919  Mershville    Vestal
25        1954121      Harsaw    Torres
26        1427438  Matterdawn    Vestal
27        1049416      Porpus    Torres
28        1619112      Harsaw    Torres
29        1725473  Mershville    Vestal
...           ...         ...       ...
3520971  17923362       Marsh      Khan
3520972  11357988       Marsh      Khan
3520973  13741548       Marsh    Correy
3520974  19929693       Marsh      Khan
3520975  16441960       Marsh      Khan
3520976  19992954       Marsh  O'Tooley
3520977  13845046       Marsh      Khan
3520978  18550834       Marsh    Correy
3520979  17540334       Queen      Khan
3520980  11020483       Queen  O'Tooley
3520981  15912885     Trandee      Khan
3520982  12609301       Marsh      Khan
3520983  14774584       Marsh        Li
3520984  13283796       Marsh      Khan
3520985  13359648       Bamoo      Khan
3520986  17391173       Queen    Correy
3520987  18995053       Queen      Khan
3520988  11867516       Bamoo        Li
3520989  18589143       Marsh      Khan
3520990  12282098       Marsh      Khan
3520991  16950418       Marsh    Correy
3520992  13715415       Marsh      Khan
3520993  18129849       Marsh      Khan
3520994  15785886       Marsh    Correy
3520995  12890090       Marsh    Correy
3520996  18050509       Marsh      Khan
3520997  13060332       Marsh      Khan
3520998  16754708       Queen      Khan
3520999  12083146       Queen      Khan
3521000  14526187       Queen  O'Tooley

[4324001 rows x 3 columns]>

In [23]:
print("The total number of votes is " + str(len(mergecsv) + 1))

The total number of votes is 4324002

In [29]:
candidate = mergecsv.Candidate.unique()
print("Candidate: "+ candidate)

['Candidate: Vestal' 'Candidate: Torres' 'Candidate: Seth'
 'Candidate: Cordin' 'Candidate: Khan' 'Candidate: Correy' 'Candidate: Li'
 "Candidate: O'Tooley"]

In [37]:
Vestal = mergecsv.Candidate.value_counts()["Vestal"]
print("Vestal had " + str(Vestal) + " votes")
Torres = mergecsv.Candidate.value_counts()["Torres"]
print("Torres had " + str(Torres) + " votes")
Seth = mergecsv.Candidate.value_counts()["Seth"]
print("Seth had " + str(Seth) + " votes")
Cordin = mergecsv.Candidate.value_counts()["Cordin"]
print("Cordin had " + str(Cordin) + " votes")
Khan = mergecsv.Candidate.value_counts()["Khan"]
print("Khan had " + str(Khan) + " votes")
Correy = mergecsv.Candidate.value_counts()["Correy"]
print("Correy had " + str(Correy) + " votes")
Li = mergecsv.Candidate.value_counts()["Li"]
print("Li had " + str(Li) + " votes")

Vestal had 385440 votes
Torres had 353320 votes
Seth had 40150 votes
Cordin had 24090 votes
Khan had 2218231 votes
Correy had 704200 votes
Li had 492940 votes

In [38]:
print("The winner of the popular vote was Khan with 2218231 votes")

The winner of the popular vote was Khan with 2218231 votes